# BankView – Exploratory Data Analysis (EDA)

This notebook explores the raw banking dataset used in the BankView project.
The goal is to understand the data structure, assess data quality, and identify
key metrics (KPIs) relevant for business decision support.

In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/raw/bank.csv")
df.head()
df.shape
df.columns
df.info()

df.isnull().sum()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
count,11162.000000,11162,11162,11162,11162,11162.000000,11162,11162,11162,11162.000000,11162,11162.000000,11162.000000,11162.000000,11162.000000,11162,11162
unique,NaN,12,3,4,2,NaN,2,2,3,NaN,12,NaN,NaN,NaN,NaN,4,2
top,NaN,management,married,secondary,no,NaN,no,no,cellular,NaN,may,NaN,NaN,NaN,NaN,unknown,no
freq,NaN,2566,6351,5476,10994,NaN,5881,9702,8042,NaN,2824,NaN,NaN,NaN,NaN,8326,5873
mean,41.231948,NaN,NaN,NaN,NaN,1528.538524,NaN,NaN,NaN,15.658036,NaN,371.993818,2.508421,51.330407,0.832557,NaN,NaN
std,11.913369,NaN,NaN,NaN,NaN,3225.413326,NaN,NaN,NaN,8.420740,NaN,347.128386,2.722077,108.758282,2.292007,NaN,NaN
min,18.000000,NaN,NaN,NaN,NaN,-6847.000000,NaN,NaN,NaN,1.000000,NaN,2.000000,1.000000,-1.000000,0.000000,NaN,NaN
25%,32.000000,NaN,NaN,NaN,NaN,122.000000,NaN,NaN,NaN,8.000000,NaN,138.000000,1.000000,-1.000000,0.000000,NaN,NaN
50%,39.000000,NaN,NaN,NaN,NaN,550.000000,NaN,NaN,NaN,15.000000,NaN,255.000000,2.000000,-1.000000,0.000000,NaN,NaN
75%,49.000000,NaN,NaN,NaN,NaN,1708.000000,NaN,NaN,NaN,22.000000,NaN,496.000000,3.000000,20.750000,1.000000,NaN,NaN
max,95.000000,NaN,NaN,NaN,NaN,81204.000000,NaN,NaN,NaN,31.000000,NaN,3881.000000,63.000000,854.000000,58.000000,NaN,NaN

## Initial Business Observations

- **Main entities identified:**
  - Customers (demographic and financial profile)
  - Marketing campaigns (contact attempts and outcomes)
  - Banking products (deposits, loans, housing loans)

- **Potential customer identifier:**
  - No explicit customer ID is provided.
  - Each row represents a unique customer–campaign interaction and will be treated as a unique customer record for analysis purposes.

- **Date columns:**
  - `day` and `month` (represent the date of the marketing contact)
  - These fields can be combined into a derived contact date for time-based analysis.

- **Numeric fields useful for KPIs:**
  - `age` (customer demographics)
  - `balance` (average yearly account balance)
  - `duration` (last contact duration)
  - `campaign` (number of contacts during the campaign)
  - `pdays` (days since last contact)
  - `previous` (number of previous contacts)

- **Categorical fields for segmentation:**
  - `job`
  - `marital`
  - `education`
  - `default`
  - `housing`
  - `loan`
  - `contact`
  - `month`
  - `poutcome`
  - `deposit` (target variable indicating product subscription)